@media screen and (max-width: 1200px) {
  .main-container {
    width: auto;
  }

  .product-details-grid {
    display: flex;
    flex-direction: column;
  }

  .left-column .mx-30px {
    margin: 0;
  }

  .gallery-container {
    justify-content: center;
    height: auto;
  }

  .thumbnail-container {
    flex-shrink: 0;
  }

  .main-img {
    margin: 20px;
  }

  .main-img img {
    width: 100%;
  }
}